<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间-->
<!--<mapper namespace="test">-->
<!--    <select id="selectAll" resultType="com.KarlexYan.pojo.User">-->
<!--        select * from tb_user;-->
<!--    </select>-->
<!--</mapper>-->

<!--代理开发-->
<!--命名空间改为Mapper接口的全限定名-->
<mapper namespace="com.KarlexYan.mapper.UserMapper">
    <!--如果配置了别名，resultType只需写user即可-->
    <select id="selectAll" resultType="com.KarlexYan.pojo.User">
        select *
        from tb_user;
    </select>
    <!--    <select id="selectById" resultType="com.KarlexYan.pojo.User">-->
    <!--        select * from tb_user where id = #{id};-->
    <!--    </select>-->
</mapper>